@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.active {
    background-color: rgb(230, 83, 60);
    color: #fff;
    border: none;
    border-radius: 2rem;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.9);
}
header {
    margin-top: 0;
    width: 100vw;
    height: 44.68rem;
}
.nav-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 3.75rem;
}
.name a {
    width: 40vw;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(230, 83, 60);
}
.nav-links ul{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 2rem;
}
.nav-links ul li{
    margin: 0.75rem 0.40rem;
}
.nav-links ul li a {
    font-size: 1.25rem;
    padding: 0.50rem 1.25rem;
    color: #fff;
}
.nav-links ul li a:hover {
    background-color: rgb(230, 83, 60);
    color: #fff;
    border-radius: 2rem;
}
/* Nav Ends */
/* hero section stars */

.hero-container {
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-container .left {
    width: 40vw;
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-container .left h1 {
    font-size: 5rem;
    font-weight: 800;
    color: #fff;
}
.hero-container .left h1 span {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
}
.hero-container .left p{
    color: rgba(255, 255, 255, 0.5);
}
.hero-container .left .btn {
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
}
.hero-container .left .btn-container #download-app{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}
.right {
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .img-container {
    width: 21.7rem;
    height: 36.25rem;
}
.right .video-tutorial {
    width: 12.87rem;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.75rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
}
.right .video-tutorial .video-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .video-tutorial h3 {
    font-size: 1.5rem;
    color: #fff;
}
.right .video-tutorial p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.5rem;
}
.right .free-video {
    width: 12.87rem;
    height: 6rem;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.75rem;
    padding: 1rem;
    position: absolute;
    top: 7.8rem;
    right: 1rem;
}
.right .free-video h3 {
    font-size: 2.5rem;
    color: #fff;
}
.right .free-video p{
    color: rgba(255, 255, 255, 0.5);
}

/* hero section endss */
/* habits section starts */
.habits {
    width: 80vw;
    margin: auto;
    margin-top: 6.25rem;
    text-align: center;
}
.habits-texts h2 {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0.9rem;
}
.habits-texts p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3.6rem;
}
.habits-imgs {
    display: flex;
}
.habits-imgs .habits-img img {
    border: 2px solid black;
    border-radius: 50%;
}
.habits-imgs .habits-img h3 {
    color: #fff;
    margin: 1rem 0rem;
}
.habits-imgs .habits-img p {
    color: rgba(255, 255, 255, 0.5);
}
/* habits section ends */
/* Run section starts  */
.run {
    width: 80vw;
    margin: auto;
    margin-top: 6.25rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 2rem;
    padding-left: 3.25rem;
    display: flex;
    justify-content: space-between;
}
.run .run-texts {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-right: 6rem;
}
.run .run-texts h2{
    font-size: 3rem;
    color: #fff;
}
.run .run-texts p{
    color: rgba(255, 255, 255, 0.5);
}
.run .run-texts button {
    font-size: 1.25rem;
    background-color: rgb(230, 83, 60);
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2.75rem;
    cursor: pointer;
}
.run .run-img {
    width: 40%;
    height: 19.5em;
    border-radius: 1rem;
    background-image: url(../images/run.jpg);
    background-size: 380%;
    background-position: 67% 35%;
    background-repeat: no-repeat;
}
/* Run section ends  */
/* bmi starts  */
.bmi-calculator .bmi-texts {
    width: 42rem;
    margin: 4rem auto;
    text-align: left;
}
.bmi-calculator .bmi-texts h2{
    font-size: 3rem;
    color: #fff;
}
.bmi-calculator .bmi-texts p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
}
.bmi-cal {
    background: rgb(34, 34, 34);
}
.bmi-container {
    width: 80vw;
    height: 30rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0rem;
}
.bmi-container .bmi-chart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bmi-container .bmi-chart h3 {
    font-size: 2rem;
    color: #fff;
}
.bmi-container .bmi-chart table {
    width: 19.25rem;
    height: 13.5rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-container .bmi-chart table th {
    color: #fff;
}
.bmi-container .bmi-chart table th, td {
    padding: 10px;
}
.bmi-container .bmi-chart table, tr, th, td {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
.bmi-container .bmi-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.75rem;
}
.bmi-container .bmi-form h3 {
    font-size: 2rem;
    color: #fff;
}
.bmi-container .bmi-form p {
    color: rgba(255, 255, 255, 0.5);
}
.bmi-container .bmi-form form input, select {
    width: 45%;
    margin-top: 0.75rem;
    padding: 0.75rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
.bmi-container .bmi-form form select option {
    color: black;
}
.bmi-container .bmi-form form #activity {
    width: 91%;
}
.bmi-container button {
    font-size: 1.25rem;
    background-color: rgb(230, 83, 60);
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2.75rem;
    cursor: pointer;
    margin-top: 2rem;
}

/* bmi ends  */
/* our team starts */
.our-team .our-team-texts {
    width: 42rem;
    margin: 4rem auto;
    text-align: center;
}
.our-team .our-team-texts h2 {
    font-size: 3rem;
    color: #fff;
}
.our-team .our-team-texts p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
}
.our-team .our-team-imgs {
    width: 80vw;
    margin: auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    gap: 0.5rem;
}
.our-team .our-team-imgs .img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.our-team .our-team-imgs img {
    width: 20.41rem;
    height: 17rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.trainer-img-text {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.trainer-img-text h3 {
    color: #fff;
}
.trainer-img-text p {
    color: rgba(255, 255, 255, 0.5);
}
/* our team ends */


/* Breakpoints */
@media screen and (max-width: 576px) {
    .nav-container .nav-links {
        width: 2rem;
        height: 2rem;
        background-image: url(../images/hamburger-menu.svg);
        background-repeat: no-repeat;
    }
    .nav-container ul {
        border: none;
    }
    .nav-container ul li{
        display: none;
    }
    /* hero starts */
    .hero-container {
        flex-direction: column;
    }
    .hero-container .left {
        width: 100%;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero-container .left h1 {
        font-size: 2.25rem;
    }
    .hero-container .left .btn-container {
        display: flex;
        justify-content: space-around;
    }
    .hero-container .left .btn {
        padding: 1rem 2.5rem;
    }
    .right {
        width: 100%;
        position: relative;
        margin-top: 3rem;
    }
    .right .free-video {
        top: 2.5rem;
        right: 0rem;
    }
    .right .video-tutorial {
        bottom: 14rem;
    }
    /* hero ends  */
    /* habits starts  */
    .habits {
        margin-top: 25rem;
    }
    .habits-imgs {
        flex-direction: column;
    }
    .habits-imgs .habits-img {
        margin-bottom: 2rem;
    }
    /* habits ends  */
    /* Run starts  */
    .run {
        padding: 2rem;
        flex-direction: column;
        height: 35rem;
    }
    .run .run-texts {
        width: 100%;
        height: 60%;
        justify-content: space-between;
        margin-right: 0rem;
    }
    .run .run-texts button {
        width: 100%;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
    }
    .run .run-img {
        width: 100%;
        height: 40%;
        background-size: cover;
    }

    /* Run ends  */
    /* bmi Starts  */
    .bmi-calculator .bmi-texts {
        width: 80vw;
        margin: 4rem auto;
        text-align: left;
    }
    .bmi-container {
        height: 48.25rem;
        padding: 2rem 0rem;
        flex-direction: column;
    }
    .bmi-container .bmi-chart {
        width: 100%;
        height: 40%;
    }
    .bmi-container .bmi-chart table {
        width: 100%;
    }
    .bmi-container .bmi-form {
        width: 100%;
        height: 60%;
    }
    .bmi-container .bmi-form form input, select {
        width: 49.5%;
    }
    .bmi-container .bmi-form form #activity {
        width: 100%;
    }
    /* bmi ends  */
    /* our team starts  */
    .our-team .our-team-texts {
        width: 80vw;
    }
    .our-team .our-team-imgs {
        grid-template-columns: auto;
        padding: 1.25rem;
    }
    .our-team .our-team-imgs img {
        width: 100%;
        height: 17rem;
        margin-bottom: 1rem;
    }
    /* our team ends  */
}